
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
            </a>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->


<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"c1ab16ca3c0cf1fd568e0a2fb","lid":"b7af0d51f9"}) })</script>

